<p>
  <%= label_tag 'settings[token]', 'Telegram token' %>
  <%= text_field_tag 'settings[token]', settings['token'] %>
</p>
<p>
  <%= label_tag 'settings[url_base]', 'URL base' %>
  <%= text_field_tag 'settings[url_base]', settings['url_base'] %>
</p>
